@RenderBody{


    <main>

        <div class="Contact">

            <div class="contacts">
                <h2>Telegram</h2>
                <a href="https://t.me/JUJ_ORIGINAL">Click me</a>
                <h2>Email</h2>
                <a href="mailto:arturmayevskyi1@gmail.com">Click me</a>
                <h2>GitHub</h2>
                <a href="http://github.com/arturmaievskyi">Click me</a>
            </div>

        </div>

    </main>


}